<header>
    <div id="head" class="container navbar-fixed-top">
        <h4>自选股</h4>
    </div>
</header>
<div id="content" class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
                <input type="text" class="form-control" placeholder="Search for...">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1g-4 col-sm-4 col-md-4 col-xs-4 border-right">
            <div class="div-center">
                <span>上证指数</span><br>
                <span>3222.17</span><br>
                <span>-23.90 -0.74%</span>
            </div>
        </div>
        <div class="col-1g-4 col-sm-4 col-md-4 col-xs-4 border-right">
            <div class="div-center">
                <span>恒生指数</span><br>
                <span>3222.17</span><br>
                <span>-23.90 -0.74%</span>
            </div>
        </div>
        <div class="col-1g-4 col-sm-4 col-md-4 col-xs-4">
            <div class="div-center">
                <span>道琼斯指数</span><br>
                <span>3222.17</span><br>
                <span>-23.90 -0.74%</span>
            </div>
        </div>
    </div>
    <!-- 分割线 -->
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 underline-border"></div>
    </div>
    <!-- 数据内容 -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>全部股票 <span class="glyphicon glyphicon-arrow-down"></span></th>
                        <th>最新价 <span class="glyphicon glyphicon-arrow-down"></span></th>
                        <th>涨跌幅 <span class="glyphicon glyphicon-arrow-up"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>财信发展</td>
                        <td>7.00</td>
                        <td>-0.89%</td>
                    </tr>
                    <tr>
                        <td>财信发展</td>
                        <td>7.00</td>
                        <td>-0.89%</td>
                    </tr>
                    <tr>
                        <td>财信发展</td>
                        <td>7.00</td>
                        <td>-0.89%</td>
                    </tr>
                    <tr>
                        <td>财信发展</td>
                        <td>7.00</td>
                        <td>-0.89%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer>
    <div class="container navbar-fixed-bottom">
        <div class="row">
            <div class="col-1g-4 col-xs-4 col-md-4 col-sm-4">自选</div>
            <div class="col-1g-4 col-xs-4 col-md-4 col-sm-4">行情</div>
            <div class="col-1g-4 col-xs-4 col-md-4 col-sm-4">设置</div>
        </div>
    </div>
</footer>
