header {
    text-align: center;
}
#header {
    background-color: white;
}
#content {
   margin-top: 50px;
}
[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}
[class*='col-']:last-of-type {
    padding-right: 0;
}
a {
    text-decoration: none;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (max-width: 600px) {
    .module {
        font-size: 10px;
        max-height: 75px;
    }
    .table tr > th {
        font-size: 15px;
        padding: 0 10px;
    }

    .table tr > td {
        padding: 0 10px;
    }
}
@media (max-width: 1024px) {
    .table tr > th {
        font-size: 15px;
    }

}
.div-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 40px;
    padding: 0px;
}

.underline-border {
    border: solid 1px rgba(65, 25, 255, 0.09);
    border-style:none none solid none;
    height: 1px;
}

.border-right {
    border: solid 1px rgba(65, 25, 255, 0.09);
    border-style:none solid none none;
}

.div-background {
    background-color: gray;
}


/**
 * 自选股表格样式
 */

th > span {
    font-size: 10px;
}
.table tr > td:last-child {
   color: #ff030a;
}
.table tr > td {
    height: 30px;
    padding-top: 10px;
}

/**
 * 页脚样式
 */

#footer {
    box-shadow: 0 0.2em 1em #2b2828;
    background-color: white;
}
footer div[class*="col-"] {
    height: 50px;
    text-align: center;
    padding: 15px 0;
    font-size: 15px;
}
